apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: ocean-rs-mutator-webhook-cfg
  labels:
    app: ocean-rs-mutator
webhooks:
  - name: ocean-rs-mutator.cluster.local
    clientConfig:
      service:
        name: ocean-rs-mutator-svc
        namespace: kube-system
        path: "/ocean-rs-mutator"
      caBundle: %CA_BUNDLE%
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: ["apps"]
        apiVersions: ["v1"]
        resources: ["deployments"]
    namespaceSelector:
      matchLabels:
        ocean-rs-mutator: enabled
